{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.nativeads.com/"
        }
    ],
    "info": {
        "description": "This is a Native Ads Publisher API it provides same functionality as Native Ads Publisher Account GUI.\n",
        "title": "Native Ads Publisher",
        "version": "1.0.0",
        "x-apisguru-categories": [
            "marketing"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_api.nativeads.com_docs_publisher_images_nativeads-logo.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://api.nativeads.com/docs/publisher/swagger.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "nativeads.com"
    },
    "paths": {
        "/auth/default/login": {
            "post": {
                "description": "Returns Native Ads Publisher API token",
                "responses": {
                    "200": {
                        "description": "authentication response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "token": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "error message",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "auth"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "description": "Native Ads Publisher username",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Native Ads Publisher password",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "username"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/publisher/reports/daily": {
            "get": {
                "description": "Returns publisher statistics split by date",
                "parameters": [
                    {
                        "description": "Native Ads Publisher API authentication token",
                        "in": "query",
                        "name": "token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "start date in format YYYY-MM-DD",
                        "in": "query",
                        "name": "startDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "end date in format YYYY-MM-DD",
                        "in": "query",
                        "name": "endDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "maximum number of results per page",
                        "in": "query",
                        "name": "limit",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        }
                    },
                    {
                        "description": "page number",
                        "in": "query",
                        "name": "page",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "report response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "clicks": {
                                                        "type": "string"
                                                    },
                                                    "cpc": {
                                                        "type": "string"
                                                    },
                                                    "ctr": {
                                                        "type": "string"
                                                    },
                                                    "date": {
                                                        "type": "string"
                                                    },
                                                    "earnings": {
                                                        "type": "string"
                                                    },
                                                    "impressions": {
                                                        "type": "string"
                                                    },
                                                    "net_ecpm": {
                                                        "type": "string"
                                                    },
                                                    "rpm": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "array"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "total_count": {
                                            "type": "integer"
                                        },
                                        "totals": {
                                            "type": "object",
                                            "properties": {
                                                "total_clicks": {
                                                    "type": "string"
                                                },
                                                "total_cpc": {
                                                    "type": "string"
                                                },
                                                "total_ctr": {
                                                    "type": "string"
                                                },
                                                "total_earnings": {
                                                    "type": "string"
                                                },
                                                "total_impressions": {
                                                    "type": "string"
                                                },
                                                "total_net_ecpm": {
                                                    "type": "string"
                                                },
                                                "total_rpm": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "error message",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "reports"
                ]
            }
        },
        "/publisher/reports/website": {
            "get": {
                "description": "Returns publisher statistics split by website",
                "parameters": [
                    {
                        "description": "Native Ads Publisher API authentication token",
                        "in": "query",
                        "name": "token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "start date in format YYYY-MM-DD",
                        "in": "query",
                        "name": "startDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "end date in format YYYY-MM-DD",
                        "in": "query",
                        "name": "endDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "maximum number of results per page",
                        "in": "query",
                        "name": "limit",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        }
                    },
                    {
                        "description": "page number",
                        "in": "query",
                        "name": "page",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "report response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "clicks": {
                                                        "type": "string"
                                                    },
                                                    "cpc": {
                                                        "type": "string"
                                                    },
                                                    "ctr": {
                                                        "type": "string"
                                                    },
                                                    "date": {
                                                        "type": "string"
                                                    },
                                                    "earnings": {
                                                        "type": "string"
                                                    },
                                                    "impressions": {
                                                        "type": "string"
                                                    },
                                                    "net_ecpm": {
                                                        "type": "string"
                                                    },
                                                    "rpm": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "array"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "total_count": {
                                            "type": "integer"
                                        },
                                        "totals": {
                                            "type": "object",
                                            "properties": {
                                                "total_clicks": {
                                                    "type": "string"
                                                },
                                                "total_cpc": {
                                                    "type": "string"
                                                },
                                                "total_ctr": {
                                                    "type": "string"
                                                },
                                                "total_earnings": {
                                                    "type": "string"
                                                },
                                                "total_impressions": {
                                                    "type": "string"
                                                },
                                                "total_net_ecpm": {
                                                    "type": "string"
                                                },
                                                "total_rpm": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "authentication error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "reports"
                ]
            }
        },
        "/publisher/reports/widget": {
            "get": {
                "description": "Returns publisher statistics split by widget",
                "parameters": [
                    {
                        "description": "Native Ads Publisher API authentication token",
                        "in": "query",
                        "name": "token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "start date in format YYYY-MM-DD",
                        "in": "query",
                        "name": "startDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "end date in format YYYY-MM-DD",
                        "in": "query",
                        "name": "endDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "maximum number of results per page",
                        "in": "query",
                        "name": "limit",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        }
                    },
                    {
                        "description": "page number",
                        "in": "query",
                        "name": "page",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "report response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "campaign": {
                                                        "description": "widget name",
                                                        "type": "string"
                                                    },
                                                    "campaign_id": {
                                                        "description": "widget id",
                                                        "type": "string"
                                                    },
                                                    "clicks": {
                                                        "type": "string"
                                                    },
                                                    "cpc": {
                                                        "type": "string"
                                                    },
                                                    "ctr": {
                                                        "type": "string"
                                                    },
                                                    "earnings": {
                                                        "type": "string"
                                                    },
                                                    "impressions": {
                                                        "type": "string"
                                                    },
                                                    "net_ecpm": {
                                                        "type": "string"
                                                    },
                                                    "rpm": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "array"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "total_count": {
                                            "type": "integer"
                                        },
                                        "totals": {
                                            "type": "object",
                                            "properties": {
                                                "total_clicks": {
                                                    "type": "string"
                                                },
                                                "total_cpc": {
                                                    "type": "string"
                                                },
                                                "total_ctr": {
                                                    "type": "string"
                                                },
                                                "total_earnings": {
                                                    "type": "string"
                                                },
                                                "total_impressions": {
                                                    "type": "string"
                                                },
                                                "total_net_ecpm": {
                                                    "type": "string"
                                                },
                                                "total_rpm": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "authentication error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "reports"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "authResponse": {
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "token": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "modelError": {
                "properties": {
                    "errors": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "success": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "reportsDailyItem": {
                "properties": {
                    "clicks": {
                        "type": "string"
                    },
                    "cpc": {
                        "type": "string"
                    },
                    "ctr": {
                        "type": "string"
                    },
                    "date": {
                        "type": "string"
                    },
                    "earnings": {
                        "type": "string"
                    },
                    "impressions": {
                        "type": "string"
                    },
                    "net_ecpm": {
                        "type": "string"
                    },
                    "rpm": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "reportsDailyResponse": {
                "properties": {
                    "items": {
                        "items": {
                            "type": "object",
                            "properties": {
                                "clicks": {
                                    "type": "string"
                                },
                                "cpc": {
                                    "type": "string"
                                },
                                "ctr": {
                                    "type": "string"
                                },
                                "date": {
                                    "type": "string"
                                },
                                "earnings": {
                                    "type": "string"
                                },
                                "impressions": {
                                    "type": "string"
                                },
                                "net_ecpm": {
                                    "type": "string"
                                },
                                "rpm": {
                                    "type": "string"
                                }
                            }
                        },
                        "type": "array"
                    },
                    "success": {
                        "type": "boolean"
                    },
                    "total_count": {
                        "type": "integer"
                    },
                    "totals": {
                        "type": "object",
                        "properties": {
                            "total_clicks": {
                                "type": "string"
                            },
                            "total_cpc": {
                                "type": "string"
                            },
                            "total_ctr": {
                                "type": "string"
                            },
                            "total_earnings": {
                                "type": "string"
                            },
                            "total_impressions": {
                                "type": "string"
                            },
                            "total_net_ecpm": {
                                "type": "string"
                            },
                            "total_rpm": {
                                "type": "string"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "reportsWebsiteItem": {
                "properties": {
                    "clicks": {
                        "type": "string"
                    },
                    "cpc": {
                        "type": "string"
                    },
                    "ctr": {
                        "type": "string"
                    },
                    "date": {
                        "type": "string"
                    },
                    "earnings": {
                        "type": "string"
                    },
                    "impressions": {
                        "type": "string"
                    },
                    "net_ecpm": {
                        "type": "string"
                    },
                    "rpm": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "reportsWebsiteResponse": {
                "properties": {
                    "items": {
                        "items": {
                            "type": "object",
                            "properties": {
                                "clicks": {
                                    "type": "string"
                                },
                                "cpc": {
                                    "type": "string"
                                },
                                "ctr": {
                                    "type": "string"
                                },
                                "date": {
                                    "type": "string"
                                },
                                "earnings": {
                                    "type": "string"
                                },
                                "impressions": {
                                    "type": "string"
                                },
                                "net_ecpm": {
                                    "type": "string"
                                },
                                "rpm": {
                                    "type": "string"
                                }
                            }
                        },
                        "type": "array"
                    },
                    "success": {
                        "type": "boolean"
                    },
                    "total_count": {
                        "type": "integer"
                    },
                    "totals": {
                        "type": "object",
                        "properties": {
                            "total_clicks": {
                                "type": "string"
                            },
                            "total_cpc": {
                                "type": "string"
                            },
                            "total_ctr": {
                                "type": "string"
                            },
                            "total_earnings": {
                                "type": "string"
                            },
                            "total_impressions": {
                                "type": "string"
                            },
                            "total_net_ecpm": {
                                "type": "string"
                            },
                            "total_rpm": {
                                "type": "string"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "reportsWidgetItem": {
                "properties": {
                    "campaign": {
                        "description": "widget name",
                        "type": "string"
                    },
                    "campaign_id": {
                        "description": "widget id",
                        "type": "string"
                    },
                    "clicks": {
                        "type": "string"
                    },
                    "cpc": {
                        "type": "string"
                    },
                    "ctr": {
                        "type": "string"
                    },
                    "earnings": {
                        "type": "string"
                    },
                    "impressions": {
                        "type": "string"
                    },
                    "net_ecpm": {
                        "type": "string"
                    },
                    "rpm": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "reportsWidgetResponse": {
                "properties": {
                    "items": {
                        "items": {
                            "type": "object",
                            "properties": {
                                "campaign": {
                                    "description": "widget name",
                                    "type": "string"
                                },
                                "campaign_id": {
                                    "description": "widget id",
                                    "type": "string"
                                },
                                "clicks": {
                                    "type": "string"
                                },
                                "cpc": {
                                    "type": "string"
                                },
                                "ctr": {
                                    "type": "string"
                                },
                                "earnings": {
                                    "type": "string"
                                },
                                "impressions": {
                                    "type": "string"
                                },
                                "net_ecpm": {
                                    "type": "string"
                                },
                                "rpm": {
                                    "type": "string"
                                }
                            }
                        },
                        "type": "array"
                    },
                    "success": {
                        "type": "boolean"
                    },
                    "total_count": {
                        "type": "integer"
                    },
                    "totals": {
                        "type": "object",
                        "properties": {
                            "total_clicks": {
                                "type": "string"
                            },
                            "total_cpc": {
                                "type": "string"
                            },
                            "total_ctr": {
                                "type": "string"
                            },
                            "total_earnings": {
                                "type": "string"
                            },
                            "total_impressions": {
                                "type": "string"
                            },
                            "total_net_ecpm": {
                                "type": "string"
                            },
                            "total_rpm": {
                                "type": "string"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "totals": {
                "properties": {
                    "total_clicks": {
                        "type": "string"
                    },
                    "total_cpc": {
                        "type": "string"
                    },
                    "total_ctr": {
                        "type": "string"
                    },
                    "total_earnings": {
                        "type": "string"
                    },
                    "total_impressions": {
                        "type": "string"
                    },
                    "total_net_ecpm": {
                        "type": "string"
                    },
                    "total_rpm": {
                        "type": "string"
                    }
                },
                "type": "object"
            }
        }
    }
}